body {
    font-family: "Open Sans", sans-serif;
    margin: 10px 10px 10px 10px;
    /*box-shadow: 10px 10px 5px #888888;*/
}

li {
    display: block;
    padding-left: 20px;
    color: #777772;

}

label {
    width: 4.5em;
    float: left;
    text-align: left;
    margin-right: 0.5em;
    font-size: 1em;
    display: inline
}

form div + div {
    margin-top: 1em;
}

input:focus, textarea:focus {

    border-color: #000;
}

input {
    font: 1em sans-serif;
    width: 40%;
    background: #e8e2d6;
    height: 1.5em

}

.submit input {
    width: 100px;
    color: #fff;
    background: #777772;
    border: 3px outset #99badd;

    font-size: 1em;
}

textarea {
    background: #fff;
    vertical-align: top;
    height: 9em;
    font: 1em sans-serif;
    width: 50%
}

p.login {
    font-size: 24px;
    font-weight: bold;
    color: #8c706b;
    border-bottom: 3px solid #9baabf;
}

p.padding {
    padding-left: 7%;
    color: #565959;
    font-size: 16px;
    font-style: italic
}

p.text {
    color: #3f3f38;
    font-size: 20px;
    text-align: left;
    padding-bottom: 5%;
    letter-spacing: 2px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 12fr;
    grid-template-rows: auto auto auto 30px;
    grid-gap: 3px;
    height: 100%;
}

#argyou-header {
    /*background-color: #7a3f28;*/
    font-weight: bold;
    grid-column: 1 / 2;
    display: block;
    font-size: 2em;
    margin-left: 0;
    margin-right: 0;
    color: #6d3321;
    text-align: left;
    #padding-left: 20px;
    letter-spacing: -3px;
    /*box-shadow: 10px 10px 5px #888888;*/
    margin-bottom: 10px;
}

#argyou-menu {
    grid-column: 2 / -1;
    overflow: hidden;
    background-color: #7a3f28;
    box-shadow: 10px 10px 5px #888888;
    font-weight: bold;
    margin-bottom: 10px;
}

#argyou-menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid white;
}

#argyou-menu a:hover {
    background-color: #ddd;
    color: black;
}

#argyou-footer {
    font-size: smaller;
    grid-column: 1 / -1;
    box-shadow: 10px 10px 5px #888888;
    background-color: #f1f1f1;
    padding: 3px;
    text-align: left;
    font-style: italic;
}

#argyou-content {
    grid-column: span 2;
}

#argyou-login {
    grid-column: 1 / -1;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0.1em;
    background-color: #F9CC9D;
}

#predict-form {
    font-size: 1em;
    width: 70%;
    padding: 0.5em;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: grid;
    grid-template-columns: max-content;
}

.form_label {
    grid-column: 1 / 2;
    text-align: right;
}

.form_input {
    grid-column: 2 / 3;
}

#wager_result {
    width :max-content;
    margin: 10px;
    padding: 5px;
}

.form-text {
    /*width: 70%;*/
}

.form-name {
    /*width: 30%;*/
}

#argyou-submit {
    grid-column: 1 / 2
}

#argyou-delete {
    grid-column: 2 / 3
}

#predictions {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 3px;
    /*height: 100%;*/
    grid-auto-rows: auto;
}

#top_line {
    display: grid;
    grid-template-columns: auto auto;
}

#selectors {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    grid-column: 1 / 2
}

.warning {
    font-size: 0.8em;
    font-weight: bold;
    grid-column: 2 / 3
}

/*Styles for predictions*/
.fulfilled {
    background-color: lightgreen;
}

.notfulfilled {
    background-color: lightpink;
}

.waitingforconfirmation {
    background-color: #bed9ed;
}

.waitingforconfirmationtext {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }

    #argyou-header {
        font-size: 1em;
    }

    #argyou-menu {
        margin-bottom: 2px
    }

    #argyou-menu a {
        padding: 2px 2px
    }

    #predict-form {
        width: 100%;
    }

    .form-text {
        width: 100%;
    }

    .form-name {
        width: 100%;
    }
}
